*{
    margin: 0;
    padding: 0;
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
}
nav ul
{
    display: flex;
    justify-content: center;
}
nav ul li
{
    list-style: none;
    margin: 0 10px;
}
.nav-left
{
    font-size: 2rem;
}
.nav-right
{
    font-size: 1.5rem;
}
.section
{
    display: flex;
    justify-content: space-around;
    margin: 100px;
}
.section-left
{
    font-size: 2rem;
    width: 30%;
    text-align: center;
    align-items: center;
}
.section-right
{
    font-size: 2.5rem;
    
}
nav ul li a{
    text-decoration: none;
    
}
nav ul li a:hover{
    font-size: 1.55rem;
    
}
#element
{
    color: #F7E6C4;
}